<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="100" fxFlex.gt-xs="50">
        <mat-card-title fxLayoutAlign="center">This is a card.</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Select Workout">
                    <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                            {{exercise.name}}
                    </mat-option>
                </mat-select>
                <mat-hint>Which workout do you want to do?</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button color="primary" (click)="onStartTraining()">Start workout</button>
        </mat-card-actions>
    </mat-card>
</section>